.main {
  padding: 50px;
  background: #F9F9F9;
  width: 440px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form {
  background: #EFEFEF;
  width: 347px;
  border-radius: 4px 4px 0 0;
}

.form form {
  margin-bottom: 0px;
  padding: 20px;
  padding-bottom: 50px;
}

.form .email {
  background: white;
  height: 42px;
  width: calc(100%);
  border: solid 1px #C8C8C8;
  margin-bottom: 10px

}

.form .email input {
  width: calc(100%);
  border: none;
  outline: none;
  padding: 10px;
}

.form .message {
  border: solid 1px #C8C8C8;
  margin-bottom: 10px;
  background: white;
}

.form .message textarea {
  padding: 10px;
  resize: none;
  overflow: hidden;
  border: none;
  outline: none;
}

.submit {
  background: #43A6E1;
  color: white;
  border: none;
  height: 30px;
  border-radius: 4px;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
  float: right;
}

.comments {
  background: white;
  width: 347px;
  border: #EFEFEF solid 2px;
  border-radius: 0 0 4px 4px;
}

.comments .search {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid 1px #C8C8C8;
  height: 40px;
}

.comments .search .glass {
  margin-left: 10px;
  margin-top: 10px;
}

.comments .search input {
  height: 30px;
  width: 90%;
  border: none;
  outline: none;
}

.comments ul {
  padding-left: 20px;
}

.comments li {
  list-style: none;
  clear: both;
  height: 65px;
}

.comment-img,
.comment-body {
    float: left;
}

.comment-body {
  margin-left: 10px;
}

.comments li img {
  height: 45px;
  border-radius: 5px;
}

.comments li .email {
  font-weight: bold;
}

.comments li .message {
  color: #888585;
  margin-top: 7px;
  overflow: hidden;
  width: 250px;
  height: 20px;
}
